*{
  margin: 0;
  padding: 0;
}
body{
	background: #000;
  }
  
  section{
	width: 100%;
	max-width: 900px;
	margin: auto;
	background: #fff;
  }
  
  
											  /*BUSCAR POR MARCA*/
  .busqueda{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 30px;
   }
  select{
	font-size: 25px;
	color: #fff;
	background: #000;
   }
  input{
	font-size: 22px;
	margin-left: 15px;
	/*color: #fff;*/
   
	box-shadow: 2px 4px 2px 2px black;
   }
  input:active{
	box-shadow: none;
   }
											  /*COCHE*/
												/*COCHES*/
  
  
  
  
  
  
  
  
  /*contenedor de coche*/
  .contenedordecoche {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border:1px solid rgba(0, 0, 0, 0.2);
	flex-wrap: nowrap;
  
  
	
   }
   .contenedordecoche a{
	color: #000;
	text-decoration: none;
   }
  
  /*marca modelo precio de coche*/
  .mar-mod-pre .modelo{
	font-weight: normal;
	padding-left: 1px;

	}
   .mar-mod-pre .precio{
   padding-left: 50%;
   }
   .mar-mod-pre h2 {
	   padding-top: 8px;
   }

  
  /*lista de datos*/
  .list-datos{
	display: flex;
	flex-direction: row; 
   }
  .listata{
  padding: 40px;
   
  
	}
  .listata li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	list-style: none;
	/*width: 200px;*/
	font-size: 23px;
	line-height: 40px;
   }
  
   @media screen and (max-width: 480px){
	 .contenedordecoche{
	  display: flex;
	  flex-wrap: wrap;
	 }
	 
   }